.collection__highlights-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding: 0;
}

@media screen and (max-width: 789px) {
  .collection__highlights-list {
    gap: 20px;
  }
}